.jumbotron {
display: inline-block;
padding: 28pt;
margin: 10 auto;
background-color: rgba(1,1,1,.1);


/* width: 0   auto; */
}

body {
  background-color: green;
  text: justify;
  text-align: center;
}

<p> {
  color: purple;
}

h1 {
  margin: 5px;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 10px;
}

span {
  margin: 5px;
  align-self: center;
  text-align: justify;
}

.radio {
  display: block;
  vertical-align: inline;
  width: auto;
}

.hid {
  max-height: 0px;
}

img {
  max-height: 350px;
}

.python {
  display: none;
}

.java {
  display: none;
}

.ruby {
  display: none;
}

.resultingTrack {
  display: none;
  font-style: italic;
  font-weight: bolder;
}
label {
  margin: auto;
}
#txt_name {
  background: rgba(1,1,1,.1);;
  color: rgba(25, 25, 25, 1);
  text-align: center;
}
#txt_name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lime;
}
#trackSelection {
  height: 350pt;
  overflow-x: auto;
}
