body {
  text-align: center;
  background-color: green;
}

<p> {
  color: purple;
}

h1 {
  margin: 30px;
}

h3 {
  margin-top: 30px;
}

p {
  margin-top: 30px;
}

span {
  margin: 5px;
  align-self: text-align: justify;
}

.radio {
  vertical-align: middle;
  margin: 5px;
}

.hid {
  max-height: 0px;
}

img  {
  max-height: 350px;
  /* max-width: */
}

.python {
  display: none;
}

.java {
  display: none;
}

.ruby {
  display: none;
}

/* .slider {
	overflow-y: hidden;
	max-height: 300px; /* approximate max height */

	/* transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1); */
/* }  */
