.jumbotron {
max-width: 500pt;
padding: 10pt;
max-height: 120px;
height: 100px;
}

body {
  text-align: center;
  background-color: green;
}

<p> {
  color: purple;
}

h1 {
  margin: 10px;
}

h3 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

span {
  margin: 5px;
  align-self: center;
  text-align: justify;
}

.radio {
  vertical-align: middle;
  margin: 5px;
}

.hid {
  max-height: 0px;
}

img  {
  max-height: 350px;
  /* max-width: */
}

.python {
  display: none;
}

.java {
  display: none;
}

.ruby {
  display: none;
}

.resultingTrack {
  display: none;
  font-style: italic;
  font-weight: bolder;
}
